- notice ||= (@notice || Notice.new)
.site-content-container
  .site-form
    %h2 국민의견 #{ notice.persisted? ? '수정' : '글쓰기' }
    = form_with model: notice, local: true, id: 'form-notice', class: 'js-form-validation', 'data-form-validation-submit-control': '#form-notice .js-confirm-btn' do |f|
      .site-write-box
        .form-group
          = f.label :title, '제목'
          = f.text_field :title, class: 'form-control', data: { 'rule-required': 'true' }
        .form-group
          = f.label :body, '내용'
          = f.text_area :body, class: 'tinymce js-tinymce', 'data-content-css': asset_url('tinymce_content.css')
        .form-group.form-group-submit
          = f.submit (f.object.persisted? ? "수정" : "등록"), class: 'btn btn-primary js-confirm-btn'
          %a{href: notices_path, class: 'btn btn-outline-secondary'} 취소
