%section
  .container.container-xs-no-padding
    .site-content-container
      = form_with model: @idea, id: 'form-idea', class: 'js-form-validation', 'data-form-validation-submit-control': '#form-idea .js-confirm-btn', local: true do |f|
        %h2.text-center 참가 신청서
        .form-box
          %fieldset
            %legend 기본 정보
            - %i(category title).each do |attribute|
              .form-gruop
                = f.label attribute
                = f.text_field attribute, class: 'form-control', data: { 'rule-required': 'true' }
          %fieldset
            %legend 참가 구분
            .form-gruop
              = f.collection_radio_buttons :mode, Idea.mode.options, :last, :first do |ff|
                .form-check.form-check-inline
                  = ff.radio_button class: 'form-check-input js-idea-form-mode'
                  = ff.label class: 'form-check-label'
            %fieldset.js-idea-form-mode-team-fieldset{ class: ('collapse' if f.object.mode.solo?) }
              - %i(team_member_count team_name).each do |attribute|
                .form-gruop
                  = f.label attribute
                  = f.text_field attribute, class: 'form-control', data: { 'rule-required': 'false' }
          %fieldset
            %legend 참가자 정보
            - %i(planner_name planner_age planner_sex planner_org planner_address planner_tel planner_email).each do |attribute|
              .form-gruop
                = f.label attribute
                = f.text_field attribute, class: 'form-control', data: { 'rule-required': %i(planner_org).include?(attribute) ? 'false' : 'true' }
          %fieldset
            %legend 상세 정보
            - %i(motivation summary pt desc).each do |attribute|
              .form-gruop
                = f.label attribute
                = f.text_area attribute, class: 'form-control', rows: 8
            .form-group
              %label 참가 신청서 작성 안내
              %small.form-text.text-muted
                더욱 상세한 설명이 필요하거나 이미지, 동영상 파일을 활용하실 분들은 별도 파일을 작성, 첨부파일로 업로드해 주십시오.
          %fieldset
            %legend 파일 제출
            .form-group
              = f.label :attachment
              - if f.object.attachment?
                %p.help-block
                  = link_to download_attachment_idea_path(f.object), class: 'text-decoration-none' do
                    %i.fa.fa-file
                    = f.object.attachment_name
                    다운로드
                  &nbsp;
                  = link_to '파일 삭제', remove_attachment_idea_path(f.object), method: :delete, class: 'btn btn-outline-secondary btn-sm'

              .custom-file
                = f.file_field :attachment, class: 'form-control-file custom-file-input js-custom-file-input', lang: 'ko'
                = f.label :attachment, class: 'custom-file-label js-custom-file-label' do
                  - if f.object.attachment?
                    새로운 파일 선택...
                  - else
                    제출 파일 선택...
              %small.form-text.text-muted
                최대 20M까지 업로드 가능합니다.

          %fieldset.fieldset-confirm
            %legend
              확인 및 동의
              %small.form-text.text-danger
                주의 : 팀 출전의 경우, 등록 대표의 동의는 전체 팀원의 동의를 얻은 것으로 간주합니다.
                %br
                (추후 팀원을 충원할 경우에도 아래의 사항에 동의한 것으로 간주합니다.)

            .form-group
              .form-check
                %input.form-check-input.js-idea-form-confirm-all{ type: :checkbox, name: :all_confirm_check, value: :ok, id: :all_confirm_check}
                %label.form-check-label{ for: :all_confirm_check } 모두 동의합니다.

            .form-group
              .form-check
                %input.form-check-input.js-idea-form-confirm{ type: :checkbox, name: :privacy_confirm_check, value: :ok, id: :privacy_confirm_check, data: { 'rule-required': 'true', 'msg-required': '개인정보 수집 및 활용에 동의해 주세요.' }}
                %label.form-check-label{ for: :privacy_confirm_check } 개인정보 수집&middot;활용 동의
              %ol
                %li 개인정보의 수집‧이용 목적 : 공모전 접수, 심사, 시상 등에 활용
                %li 수집하려는 개인정보의 항목 : 성명, 휴대폰, 이메일
                %li 개인정보의 보유 및 이용 기간 : 수집일로부터 1년까지

            .form-group
              .form-check
                %input.form-check-input.js-idea-form-confirm{ type: :checkbox, name: :terms_confirm_check, value: :ok, id: :terms_confirm_check, data: { 'rule-required': 'true', 'msg-required': '규정 준수에 동의해 주세요.' }}
                %label.form-check-label{ for: :terms_confirm_check } 규정 준수 동의
              %ol
                %li 대회의 제반 규정을 준수하며, 이를 준수하지 않을 경우 어떠한 조치도 감수하겠습니다.
                %li 대회 홍보 및 진행을 위해 본인의 성명, 소속에 대한 기본적인 정보와 응모한 제안내용 등이 언론사 및 일반(홈페이지 등)에 공개될 수 있습니다.
                %li 응모작이 우수작으로 선정될 경우, 공모전의 추진목적 달성을 위해 주최측에서 활용할 수 있습니다.
                %li 대회 진행과정에서 서류심사 평가방법 및 절차, 그리고 최종 결과에 대해 어떠한 이의도 제기하지 않을 것입니다.
        .form-group.text-center.form-group-submit
          - if f.object.submitted?
            = f.submit '수정하기', class: 'btn btn-primary js-confirm-btn'
            = f.submit '제출취소', class: 'btn btn-white', formnovalidate: true
          - else
            = f.submit '제출하기', class: 'btn btn-primary js-confirm-btn'
            = f.submit '임시저장', class: 'btn btn-white', formnovalidate: true
          .form-check
            %input.form-check-input.js-idea-form-continue{ type: :checkbox, name: :continue_edit, value: :ok, id: :continue_edit, checked: (params[:continue_edit] == 'ok')}
            %label.form-check-label{ for: :continue_edit } 저장 후에 계속 편집합니다.
