-# LOCAL: commentable comments
- list_dom_id = "uid-#{SecureRandom.uuid}"
- form_dom_id = "uid-#{SecureRandom.uuid}"
.site-comments
  .comment-header
    댓글
  - form_id = "uid-#{SecureRandom.uuid}"
  = render 'comments/form', commentable: commentable, comment: Comment.new, class_name: 'comment-form js-form-validation', form_dom_id: form_dom_id, list_dom_id: list_dom_id
  = render 'comments/list', commentable: commentable, comments: comments, list_dom_id: list_dom_id
