  <div id="skipNav">
    <ul>
      <li><a href="#snContent">본문바로가기</a></li>
      <!-- <li><a href="#snMenu">주메뉴 바로가기</a></li> -->
    </ul>
  </div>
  <div class="wrapper">
    <div class="top-wrap">
      <!-- <header>
        <nav id="snMenu">
          <button type="button"><span>메뉴열기</span></button>
          <div>
            <ul>
              <li><a href="#">경연대회 안내</a></li>
              <li class="selected"><a href="#">챌린지 하이라이트</a>
                <ul>
                  <li><a href="#">행사 뉴스</a></li>
                  <li><a href="#">예선 경연</a></li>
                  <li><a href="#">본선 경연</a></li>
                  <li><a href="#">수상 결과</a></li>
                </ul>
              </li>
              <li><a href="#">아이디어 제출</a></li>
              <li><a href="#">공지/FAQ</a></li>
              <li><a href="#">경연 결과</a></li>
            </ul>
            <button type="button"><span>메뉴닫기</span></button>
          </div>
        </nav>
      </header> -->
      <div class="top-cnts">
        <h1>코리아챌린지</h1>
        <strong><span class="text-inline-block-nowrap">먼저 만나는 미래,&nbsp;</span><span class="text-inline-block-nowrap">세상을 바꿀 </span><span class="big">아이디어</span></strong>
        <p class="keep-all">한국사회를 혁신할 아이디어를 들려주세요.<br />당신이 대한민국 미래 100년의 주인공입니다.</p>
        <div class="desc">
          <em>코리아 챌린지는?</em>
          <p>한국사회를 바꿀 아이디어를 10분간 공개하고, 국민판정단의 선택으로 우승자를 가립니다. <br />
          본선진출자에게는 관련 기관 및 단체, 해당 전문가의 멘토링 기회를, 본선 우승자에게는 1919만원의 상금이 수여됩니다.</p>
        </div>
        <div class="btn">
          <a href="<%= about_path %>" class="actv after-angle">자세히 보기</a>
        </div>
      </div>
      <!-- <div class="schedule">
        <h2>코리아챌린지<br />일정</h2>
        <ol>
          <li class="selected">
            <span>5.21.</span>
            <p>코리아챌린지<br />아이디어 제출</p>
            <a href="#">신청중</a>
          </li>
          <li>
            <span>6.1.</span>
            <p>국민 판정단<br />모집</p>
          </li>
          <li>
            <span>6.21.</span>
            <p>심사 결과<br />발표</p>
          </li>
          <li>
            <span>8.21.</span>
            <i>LIVE</i>
            <p>예선 경연<span>광주.  부산<br />대전.  수원</span></p>
          </li>
          <li>
            <span>10.21.</span>
            <p>아이디어 내용<br />심화</p>
          </li>
          <li>
            <span>11.21.</span>
            <i>LIVE</i>
            <p>본선 경연 <span>수도권</span></p>
          </li>
        </ol>
      </div> -->
    </div>
    <hr />
    <!-- <main id="snContent" class="main">
      <div class="s-wrapper">
        <h3><span>코리아 챌린지</span>최신 하이라이트</h3>
        <div id="posts" class="posts">
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>당신의 챌린지를 보여주세요</strong>
                <p>대한민국을 바꿀 당신의 아이디어, 코리아 <br />챌린지에 도전해보세요. 2,000만원의 <br />상금과 함께 ….</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>국민판정단을 모집합니다</strong>
                <p>대한민국을 혁신할 아이디어를 시민 여러분이 직접 심사해 주세요. 코리아챌린지 우승자...</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>심사위원을 소개합니다.</strong>
                <p>코리아 챌린지의 심사위원 33인을 소개합니다.코리아 챌린지의 심사위원 33인을 소개합니다.</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="ch-contest">
            <div class="inner">
              <strong><span>코리아 챌린지</span>심사위원을 만나보세요</strong>
              <a href="#">자세히보기</a>
              <div class="likebox">
                <span class="cmt"><i>댓글</i>12</span>
                <span class="like"><i>좋아요</i>12</span>
                <span class="shr"><i>공유</i></span>
              </div>
            </div>
          </div>
          <div class="ch-contest dtype2">
            <div class="inner">
              <strong><span>코리아 챌린지 상금</span><em>2,000</em>만원</strong>
              <a href="#">자세히보기</a>
              <div class="likebox">
                <span class="cmt"><i>댓글</i>12</span>
                <span class="like"><i>좋아요</i>12</span>
                <span class="shr"><i>공유</i></span>
              </div>
            </div>
          </div>
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>부산예선 경연 참가팀 소개</strong>
                <p>부산지역 예선에 참가하는 6개 팀과 그들의 챌린지를 소개합니다.</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>김인수 백범사상실천 운동연합대표를 만나다</strong>
                <p>김인수 백범사상실천운동연합 대표는 3.1운동 100주년 기념사업회의 공동대표 33인으로…</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="post-container">
            <div class="inner">
              <div class="img">
                <img src="<%= asset_url('@thumb01.jpg') %>" alt="" />
              </div>
              <div class="cnts">
                <strong>광주 예선 경연 참가팀 소개</strong>
                <p>광주 지역 예선에 참가하는 6개 팀과 그들의 챌린지를 소개합니다.</p>
                <a href="#">자세히보기</a>
                <span class="date">2019.08.01</span>
                <div class="likebox">
                  <span class="cmt"><i>댓글</i>12</span>
                  <span class="like"><i>좋아요</i>12</span>
                  <span class="shr"><i>공유</i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="ch-contest contactus">
            <div class="inner">
              <strong><span>코리아 챌린지</span>문의 안내</strong>
              <a href="#">공지사항</a>
              <a href="#">자주하는 질문</a>
              <ul>
                <li><i>전화번호</i>02-1234-5678</li>
                <li><i>메일</i>helpdesk@abc.co.kr</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="m-btn">
          <a href="#">챌린지 하이라이트 더보기</a>
        </div>
      </div>
    </main>
    <hr /> -->
    <%= render 'pages/footer' %>
  </div>
