%section.key-visual
  .container
    .key-panel
      .key-panel-header
        .text-box
          .main-title
            2019 코리아 챌린지:
            %br
            국민 제안, 국민 선택
          .main-subtitle<>
            %span<> 함께 꿈꾸는 대한민국
            %span.d-none.d-md-inline<> ,
            %br.d-block.d-md-none
            함께 실천하는 미래 100년!
          .main-desc
            새로운 대한민국 100년의 미래,
            %br.d-block.d-sm-none
            여러분의 아이디어로 만듭니다.
          .main-desc
            더 나은 미래를 위한 아이디어를 들려주세요.
            %br
            여러분이 대한민국 미래의 주인공입니다.
          .base-title
            2019 코리아 챌린지에 참여하려면?
          .base-desc.text-basic-wrap
            여러분은 출전자와 국민 판정단, 온라인 투표에 참여할 수 있습니다.
            %ul
              %li.mb-3
                .desc-lead 출전자
                .desc-text
                  한국사회를 업그레이드 할 수 있는 창의적인 아이디어를 보내주세요.
                  %br
                  서류심사를 통과한 분께는 10분 동안 자신의 아이디어를 발표할 기회를 드립니다.
                  %br
                  본선에서 우승한 분께는 대통령상과 상금 1,919만원을 드려요!
              %li.mb-3
                .desc-lead
                  국민판정단
                .desc-text
                  본선에 올라온 아이디어를 직접 심사할 수 있는 기회를 드립니다.
                  %br
                  출전자들의 멋진 발표를 직접 지켜보고 가장 좋은 아이디어를 선택해 주세요!
              %li.mb-3
                .desc-lead
                  온라인 투표
                .desc-text
                  예선과 본선 출전자에 대한 온라인 투표에 참여할 수 있습니다.
                  %br
                  바로 이 페이지에서 온라인 투표를 기다려 주세요!
        .image-box
          = image_tag 'home/key-visual.png', class: 'key-image'
      .key-panel-body
        - video_url = 'https://www.youtube.com/embed/mGnGjZMehhs'
        - video = VideoInfo.new(video_url)
        .video.js-dimd-open.cursor-pointer{ 'data-dimd-open-url': video_url, style: "background-image: url(#{video.thumbnail_medium});" }
          %button{type: 'button'}
            %span
              = image_tag 'home/play.png', class: 'play'
        .dimd-wrap.js-dimd-wrap
          .dimd-inner
            .video-layer
              %iframe{ frameborder: "0", allowfullscreen: true, style: "top: 0; left: 0;"}
            %button.js-dimd-close{:type => "button"}
              %span 동영상 레이어 닫기
        .buttons
          -# %a.btn.btn-outline-primary.btn-white.btn-subkey{ href: judge_path } 출전 안내
          %a.btn.btn-primary.btn-mainkey{ href: polls_path } 온라인 국민투표
          %a.btn.btn-outline-primary.btn-white.btn-subkey{ href: judge_path } 국민판정단 신청
          -# %a.btn.btn-primary.btn-white.btn-subkey.js-alert.disabled{ href: "#", 'data-message': '출전 신청이 마감되었습니다.', 'aria-disabled': 'true' } 출전 신청이 마감되었습니다
          -# .button-help
          -#   국민판정단은 9월 중 모집 예정입니다
        = image_tag 'home/key-visual-tables.png', class: 'key-image-tables'


- galleries = Gallery.all.order_recent.limit(50).to_a.shuffle
- if galleries.count >= 12
  %section.galleries
    .container
      .title 경연현장
      .site-images.clearfix{ style: 'margin-top: 30px'}
        .js-mosaic.mosaic{"data-max-row-height": "300", "data-max-rows": 3, "data-inner-gap": 10 }
          - galleries.each do |gallery|
            %a.item.withImage{href: galleries_path(round_slug: gallery.round_slug, gallery_id: gallery.id), style: "background-position: center; background-color: #eee; background-image: url('#{gallery.image.md.url}');"}
              .overlay.collapse
                .texts
                  %p{ style: 'text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;' }
                    = gallery.title


- schedule_items_first = capture do
  .item
    .desc 출전 신청
    .at ~ 9. 20.(금)
    .dot
  .item
    .desc 서류 심사 발표
    .at 10. 1.(화)
    .dot
  .item
    .desc 온라인 국민 투표(예선)
    .at 10. 14.(월) ~ 10. 27.(일)
    .dot
  .item
    .desc 예선(발표심사)
    .at 10. 26.(토) ~ 10. 27.(일)
    .dot
- schedule_items_second = capture do
  .item
    .desc 오리엔테이션 및 리허설
    .at 11. 4.(월)
    .dot
  .item.active
    .desc 온·오프라인 1:1 멘토링
    .at 11. 8.(금) ~ 11. 20.(수)
    .dot
  .item.active
    .desc 온라인 국민 투표(본선)
    .at 11. 11.(월) ~ 11. 22.(금)
    .dot
  .item
    .desc 본선 및 시상식
    .at 11. 23.(토)
    .dot

%section.schedul
  .container
    .title 코리아챌린지 일정
    .items-single-row
      .items-row.items-row-start.items-row-end
        = schedule_items_first
        = schedule_items_second
    .items-multiple-rows
      .items-row.items-row-start
        = schedule_items_first
      .items-row.items-row-end
        = schedule_items_second

#base-modal.modal.fade{ role: "dialog", tabindex: "0" }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body.text-center
        .logo
          = image_tag 'logo-modal.png', style: 'height: 56px;'
        .lead{ style: 'font-weight: 500; line-height: 25px; font-size: 20px; margin-top: 10px;' }
          %p
            2019 코리아챌린지
            %br
            결선 온라인 국민투표가
            %span.text-nowrap
              시작되었습니다.
          %p
            여러분의 미래에 투표하세요!
        %a.btn.btn-primary{ href: polls_path, style: 'margin-top: 20px;' }
          투표하러 가기
      .modal-header
        %label.checkbox.js-base-modal-today{ style: 'font-size: 12px; font-weight: 500; line-height: 16px; color: #595959;' }
          %input(type="checkbox")
          오늘 하루 열지 않기
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;

- content_for :scriptx do
  :javascript
    $(function() {
      if(Cookies.get('base_modal') != 'ok') {
        $('#base-modal').modal('show');
      }

      $('.js-base-modal-today').on('click', function(e) {
        Cookies.set('base_modal', 'ok', { expires: 1 });
        $('#base-modal').modal('hide');
      });
    })
