.poll.site-card-list-item.cursor-pointer.js-link{ 'data-url': poll_path(poll, page: params[:page]) }
  .img{ class: ('img-default' unless poll.image?), style: "background-image: url(#{ poll.image? ? poll.image.lg.url : asset_url('no-img.png') });" }
  .title.title-2= poll.title
  .info
    .counts
      %span.count.vote{ class: ('active' if poll.voted_by?(current_user)) }
        - if poll.voted_by?(current_user)
          = image_tag 'vote-btn-icon.png', style: 'height: 20px'
        - else
          = image_tag 'vote-btn-icon-off.png', style: 'height: 20px'
        = poll.votes_count
      - if poll.comments_count != 0
        %span.count.comment
          = image_tag 'comments-icon.png', style: 'height: 20px'
          = poll.comments_count
