.poll.site-card-list-item.cursor-pointer.js-link{ 'data-url': poll_path(poll, page: params[:page]) }
  .img{ class: ('img-default' unless poll.image?), style: "background-image: url(#{ poll.image? ? poll.image.lg.url : asset_url('no-img.png') });" }
  .title= poll.title
  .info
    %span.date
      = static_day_f(poll.created_at)
    .counts
      %span.count.vote{ class: ('active' if poll.voted_by?(current_user)) }
        %i.fa{ class: (poll.voted_by?(current_user) ? 'fa-heart' : 'fa-heart-o' ) }
        = poll.votes_count
      - if poll.comments_count != 0
        %span.count.comment
          %i.fa.fa-comment-o
          = poll.comments_count
