- content = capture do
  .site-content-container
    = render 'polls/static_notice'
    .site-detail
      %h2= @poll.title
      .info
        %span.date
          = static_day_f(@poll.created_at)
        - if @poll.reads_count != 0
          %span.view
            조회
            = @poll.reads_count
        - if @poll.comments_count != 0
          %span.view
            댓글
            = @poll.comments_count
      .body.js-fit-vids
        -# - if @poll.image?
        -#   .image-container
        -#     = image_tag @poll.image.lg.url
        %p!= @poll.body

        %ul.list-unstyled.downloads
          - (1..Poll::ATTACHMENT_MAX_INDEX).each do |index|
            - if @poll.attachment_of(index, '?')
              %li.download
                = link_to download_attachment_poll_path(@poll, index: index) do
                  %i.fa.fa-download
                  #{@poll.attachment_of(index, :name)}
                %span.text-muted #{number_to_human_size @poll.attachment_of(index, :size)}
      .vote-container.js-vote-container
        = render 'votes/button', poll: @poll
      .btns.justify-content-between
        .btns-left
          .dropdown.btn.btn-meta.btn-meta-detail.btn-meta-detail-poll.dropdown-share
            %a(data-toggle="dropdown")
              %i.fa.fa-share-alt
              %span 공유
              %i.fa.fa-angle-down
            %ul.dropdown-menu
              %li
                %a.dropdown-item{ href: "https://www.facebook.com/sharer/sharer.php?u=#{poll_url(@poll)}", target: '_blank', title: '페이스북 공유' }
                  페이스북에 공유
              %li
                %a.dropdown-item{ href: "https://twitter.com/share?url=#{poll_url(@poll)}&text=#{excerpt(@poll.body)}", target: '_blank', title: '트위터 공유' }
                  트위터에 공유
              - if is_kakao_talkable?
                %li
                  %a.dropdown-item.js-share-kakao{ href: '#', data: { 'share-url': poll_url(@poll), 'share-image': @poll.image.url(:md), 'share-image-width': '300', 'share-image-height': '158', 'share-title': @poll.title, 'share-description': excerpt(@poll.body) } }
                    카카오톡에 공유
          %a.btn.btn-meta.btn-meta-detail.btn-meta-detail-poll.js-clipboard{'data-clipboard-text': polymorphic_url(@poll)}
            %i.fa.fa-link
            %span 주소복사
          - manage_menus = capture do
            - if policy(@poll).edit?
              %li= link_to '수정', [:edit, @poll], class: 'dropdown-item'
            - if policy(@poll).destroy?
              %li= link_to '삭제', @poll, method: :delete, class: 'dropdown-item', 'data-confirm': '정말 삭제하시겠습니까?'
          - if manage_menus.present?
            .dropdown.btn.btn-meta.btn-meta-detail.btn-meta-detail-poll.dropdown-more.d-none.d-sm-inline-block
              %a(data-toggle="dropdown")
                더 보기
                %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-menu-right
                = manage_menus
        .btns-right
          %a.list{href: polls_path(page: params[:page])}
            전체 출품작 보기
            %i.fa.fa-angle-right

      = render 'comments/panel', commentable: @poll, parent_comments: @poll.comments.parents_for_panel
= render 'layouts/poll', content: content
