- story ||= (@story || Story.new)
.site-content-container
  .site-form
    %h2 소식 #{ story.persisted? ? '수정' : '글쓰기' }
    = form_with model: story do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body
        = f.text_area :body, class: 'tinymce js-tinymce', 'data-content-css': asset_url('tinymce_content.css')
      .form-group
        = f.label :image
        - if f.object.image? and f.object.persisted?
          %p.help-block
            = image_tag f.object.image.lg.url, style: 'max-width: 100px; vertical-align: bottom'
            &nbsp;
            = link_to '파일 삭제', remove_image_story_path(f.object), method: :delete, class: 'btn btn-outline-secondary btn-sm'
        .custom-file
          = f.file_field :image, class: 'form-control-file custom-file-input js-custom-file-input', lang: 'ko'
          = f.label :image, class: 'custom-file-label js-custom-file-label' do
            - if f.object.image?
              새로운 이미지 선택...
            - else
              이미지 선택...
      .form-group.form-group-submit
        = f.submit (f.object.persisted? ? "수정" : "등록"), class: 'btn btn-primary js-confirm-btn'
        %a{href: stories_path, class: 'btn btn-outline-secondary'} 취소
