- content = capture do
  .site-content-container
    .site-detail
      %h2= @story.title
      .info
        %span.date
          = static_day_f(@story.created_at)
        - if @story.reads_count != 0
          %span.view
            조회
            = @story.reads_count
        - if @story.comments_count != 0
          %span.view
            댓글
            = @story.comments_count
      .body.js-fit-vids

        %p!= @story.body

        %ul.list-unstyled.downloads
          - (1..Story::ATTACHMENT_MAX_INDEX).each do |index|
            - if @story.attachment_of(index, '?')
              %li.download
                = link_to download_attachment_story_path(@story, index: index) do
                  %i.fa.fa-download
                  #{@story.attachment_of(index, :name)}
                %span.text-muted #{number_to_human_size @story.attachment_of(index, :size)}
      .btns.justify-content-between
        .btns-left{ style: 'flex: 3' }
          = render 'likes/button', likable: @story
          %a.btn.btn-meta.btn-meta-detail.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{polymorphic_url(@story)}", target: '_blank', title: '공유하기'}
            %i.fa.fa-share-alt
            %span 공유
          %a.btn.btn-meta.btn-meta-detail.js-clipboard{'data-clipboard-text': polymorphic_url(@story)}
            %i.fa.fa-link
            %span 주소복사
          - manage_menus = capture do
            - if policy(@story).edit?
              %li= link_to '수정', [:edit, @story], class: 'dropdown-item'
            - if policy(@story).destroy?
              %li= link_to '삭제', @story, method: :delete, class: 'dropdown-item', 'data-confirm': '정말 삭제하시겠습니까?'
          - if manage_menus.present?
            .dropdown.btn.btn-meta.btn-meta-detail.d-none.d-sm-inline-block
              %a(data-toggle="dropdown")
                더 보기
                %i.fa.fa-angle-down
              %ul.dropdown-menu.dropdown-menu-right
                = manage_menus
        .btns-right
          %a.list{href: stories_path(page: params[:page])}
            목록
            %i.fa.fa-angle-right

      = render 'comments/panel', commentable: @story, parent_comments: @story.comments.parents_for_panel
= render 'layouts/story', content: content
