%section
  .container
    .devise-container
      %h2 로그인
      %p 로그인할 소셜계정을 선택해 주시기 바랍니다
      %ul
        %li.facebook
          = link_to user_facebook_omniauth_authorize_path do
            = image_tag 'devise/facebook.png'
            페이스북으로 로그인
        %li.naver
          = link_to user_naver_omniauth_authorize_path do
            = image_tag 'devise/naver.png'
            네이버로 로그인
        %li.kakao
          = link_to user_kakao_omniauth_authorize_path do
            = image_tag 'devise/kakao.png'
            카카오로 로그인
      .desc
        처음이신가요?
        %a{href: new_user_registration_path} 회원가입
