- gallery ||= (@gallery || Gallery.new(round_slug: params[:round_slug]))
.site-content-container
  .site-form
    %h2 경연 현장 #{ gallery.persisted? ? '수정' : '글쓰기' }
    = form_with model: gallery do |f|
      = f.hidden_field :round_slug
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :body
        = f.text_area :body, class: 'tinymce js-tinymce', 'data-toolbar': 'styleselect | bold italic | undo redo | image | link media', 'data-content-css': asset_url('tinymce_content.css')
      .form-group
        = f.label :image
        - if f.object.image? and (f.object.persisted? or f.object.image_cache.present?)
          %p.help-block
            = image_tag f.object.image.lg.url, style: 'max-width: 100px; vertical-align: bottom'
            &nbsp;
        .custom-file
          = f.file_field :image, class: 'form-control-file custom-file-input js-custom-file-input', lang: 'ko', accept: "image/*"
          = f.hidden_field :image_cache
          = f.label :image, class: 'custom-file-label js-custom-file-label' do
            - if f.object.image?
              새로운 이미지 선택...
            - else
              이미지 선택...

      .form-group.form-group-submit
        = f.submit (f.object.persisted? ? "수정" : "등록"), class: 'btn btn-primary js-confirm-btn'
        %a{href: stories_path, class: 'btn btn-outline-secondary'} 취소
