= render 'admin/navbar'

%section.section-admin-page
  .container
    .clearfix
      %h4.float-left 회원관리

      .float-right
        = form_with url: admin_users_path, method: :get, local: true do |f|
          - if params[:q].present?
            = link_to admin_users_path do
              전체 보기
            &nbsp;
            \/
            &nbsp;
          = f.text_field :q, value: params[:q], placeholder: '이름이나 이메일', style: 'height: 30px'
          = f.submit '찾기', style: 'height: 30px; border: 1px solid black; padding: 0 10px;'

    %table.table.table-striped#users
      %thead
        %tr
          %th{width: '5%'} #
          %th{width: '20%'} 닉네임
          %th{width: '20%'} 이메일
          %th{width: '10%'} SNS
          %th{width: '20%'} 가입일
          %th{width: '15%'} 관리자
          %th{width: '10%'} 참가신청
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= (user.email.present? ? link_to(user.email, "mailto:#{user.email}") : '')
            %td= user.provider
            %td= human_datetime_f(user.created_at)
            %td
              = '관리자' if user.admin?
              - if user.admin? and !user.fixed_admin?
                = link_to remove_admin_admin_user_path(user), method: :delete, class: 'text-nowrap' do
                  %span.text-danger
                    %i.fa.fa-window-close-o
                    권한삭제
              - unless user.admin?
                = link_to add_admin_admin_user_path(user), method: :patch, class: 'text-nowrap' do
                  %i.fa.fa-plus-square
                  권한지정
            %td
              - if user.idea.present?
                = link_to admin_idea_path(user.idea) do
                  - if user.idea.submitted?
                    신청서
                  - else
                    .text-muted
                      임시저장
          %tr
            %td.text-primary.text-nowrap 예선투표
            %td{ colspan: 6 }
              - any_voted = false
              - Poll.order(title: :asc).each do |poll|
                - if poll.voted_by?(user)
                  - any_voted = true
                  %span.voted-poll.text-nowrap{ style: 'background-color: #eee; margin-right: 10px; padding: 2px 10px' }
                    = poll.title
              - unless any_voted
                %span.voted-poll.text-muted .

    = paginate @users
