%nav.navbar.navbar-expand-md.navbar-light#js-main-navbar
  .container
    .navbar-brand-container
      %a.navbar-brand{ href: root_path }
        = image_tag 'home/logo.png', style: 'height: 40px; vertical-align: text-bottom;'
        %span{ style: 'font-size: 18px; font-weight: bold;' } 코리아챌린지
      %button.navbar-toggler.navbar-toggler-noborder(aria-controls="js-main-navbar-nav" aria-expanded="false" aria-label="Toggle navigation" data-target="#js-main-navbar-nav" data-toggle="collapse" type="button")
        %span.navbar-toggler-icon
    #js-main-navbar-nav.collapse.navbar-collapse
      %ul.navbar-nav.navbar-nav-contents.mx-md-auto{ class: ('navbar-nav-contents-user-signed-in' if user_signed_in?) }
        %li.nav-item
          %a.nav-link{ href: intro_path, class: ('active' if ( current_page?('/intro') or current_page?('/about') or current_page?('/schedule') or params[:controller] == 'ideas' ) ) }
            참가신청
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{ href: judge_path, class: ('active' if current_page?('/judge') ) } 국민판정단
        %li.nav-item
          %a.nav-link{ href: stories_path, class: ('active' if (%w(stories notices).include?(params[:controller]) or current_page?('/faq')) ) } 소식과 공지
      %ul.navbar-nav.navbar-nav-utils{ class: ('navbar-nav-utils-user-signed-in' if user_signed_in?) }
        - if user_signed_in?
          %li.nav-item.dropdown
            %a#user-dropdown.nav-link.dropdown-toggle(aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#")= current_user.name
            %ul.dropdown-menu.dropdown-menu-right(aria-labelledby="user-dropdown")
              - if current_user.idea.present?
                %li= link_to '신청서 수정', new_idea_path, class: 'dropdown-item'
              - else
                %li= link_to '신청하기', new_idea_path, class: 'dropdown-item'
              %li= link_to '로그아웃', destroy_user_session_path, method: :delete, class: 'dropdown-item'
              %li= link_to "탈퇴", cancel_current_user_path, method: :delete, class: 'dropdown-item', 'data-confirm': '탈퇴하시겠습니까? 모든 데이터가 삭제됩니다.'
        - else
          %li.nav-item
            %a.nav-link.btn.btn-outline-primary.nav-btn.cursor-pointer{ href: new_user_session_path } 로그인
          %li.nav-item
            %a.nav-link.btn.btn-outline-primary.ml-2.nav-btn.cursor-pointer{ href: new_user_registration_path } 회원가입