%section.site-header
  .container
    .clearfix
      = image_tag 'pages/about.png', class: 'site-header-image'
      .site-header-title 출전신청

%section.site-tabs
  .container
    .site-content-container
      %ul.nav.js-tab-menu-list
        %li.nav-item.js-tab-menu{ class: ('active js-tab-menu-active' if current_page?('/intro')) }
          = link_to intro_path do
            .link-text 출전 안내
        %li.nav-item.js-tab-menu{ class: ('active js-tab-menu-active' if current_page?('/about')) }
          = link_to about_path do
            .link-text 이런 아이디어를 기다립니다
        %li.nav-item.js-tab-menu{ class: ('active js-tab-menu-active' if current_page?('/schedule')) }
          = link_to schedule_path do
            .link-text 대회 일정

%section
  .container
    .site-content-container
      = main_content
      .site-btn-basic-container.text-center
        %a.btn.btn-outline-primary.js-alert.disabled{ href: "#", 'data-message': '출전 신청이 마감되었습니다.', 'aria-disabled': 'true' } 출전 신청이 마감되었습니다
        -# - if user_signed_in? and current_user.idea.present?
        -#   %a.btn.btn-outline-primary{ href: new_idea_path } 참가신청서 수정
        -#   .text-muted.mt-2
        -#     #{current_user.name}님은
        -#     - if current_user.idea.submitted?
        -#       #{static_day_f(current_user.idea.submitted_at)} 참가 신청하셨습니다.
        -#     - else
        -#       #{static_day_f(current_user.idea.updated_at)} 임시저장하셨습니다.
        -#     %br
        -#     신청서는 마감일(9월 20일) 18시까지 수정할 수 있습니다.
        -# - else
        -#   %a.btn.btn-outline-primary{ href: new_idea_path } 참가신청하기

-# .wrapper
-#   .top-wrap.sub
-#     = render 'application/toolbar', selected: :intro
-#     .tit-wrap.js-hamburger-open-invisible.js-hamburger-close-visible
-#       %h2
-#         = link_to root_path do
-#           %span 코리아챌린지
-#         = page_title
-#   %main#snContent.js-hamburger-open-invisible.js-hamburger-close-visible(style="padding-bottom: 0")
-#     .tab.js-menu-header
-#       %button.js-menu-toggle(type="button")= page_title
-#       %ul
-#         %li.js-link.cursor-pointer{ class: ('selected' if current_page?('/intro')), 'data-url': intro_path }
-#           %a(href=intro_path) 출전 안내
-#         %li.js-link.cursor-pointer{ class: ('selected' if current_page?('/about')), 'data-url': about_path }
-#           %a(href=about_path) 이런 아이디어를 기다립니다
-#         %li.js-link.cursor-pointer{ class: ('selected' if current_page?('/schedule')), 'data-url': schedule_path }
-#           %a(href=schedule_path) 대회 일정
-#         -# %li
-#         -#   %a(href="#") 심사 기준
-#         -# %li
-#         -#   %a(href="#") 유의 사항
-#         -# %li
-#         -#   %a(href="#") 오시는 길
-#     .sub-cnts
-#       = main_content

-#   = render 'application/footer'
