!!!
%html(lang="ko")
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")/
    %meta(charset="utf-8")/
    %title 코리아챌린지
    = csrf_meta_tags
    = csp_meta_tag
    = render 'application/favicons'
    %meta(content="initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, target-densitydpi=medium-dpi" name="viewport")/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = yield
