!!!
%html{lang: I18n.locale}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    = display_meta_tags
    = render 'application/favicons'
    %meta{content: "initial-scale=1, minimum-scale=1, maximum-scale=1, width=device-width, target-densitydpi=medium-dpi", name: "viewport"}/
    - if content_for? :stylesheets
      = yield :stylesheets
    - else
      = stylesheet_link_tag 'application', media: 'all'
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}
    %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"}
    %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"}
    = csrf_meta_tags

  %body.index{ class: body_class }
    %section.unobtrusive-flash-section
      .container
        .unobtrusive-flash-container
    = render 'application/navbar'
    .main.js-main-navbar-nav-exclude
      - if content_for? :main
        = yield :main
      - else
        = yield
    - unless controller.class.parents.include?(Admin)
      = render 'application/footer'

    = javascript_include_tag 'application'
    = tinymce selector: 'textarea.--tinymce-dummy'
    %input( id="js-tinymce-file-input" type="file" accept="image/*" name="tinymce-file-input" style="display: none;" onchange="")
    :javascript
      $(function(){
        $('textarea.js-tinymce').each(function() {
          var $elm = $(this);
          var params =  {
            cache_suffix: '?v=4',
            target: this,
            mobile: {
              theme: 'silver',
            },
            menubar: false,
            min_height: 250,
            autoresize_bottom_margin: 0,
            statusbar: false,
            document_base_url: 'https://dev.koreachallenge.kr/',
            target_list: false,
            relative_urls: false,
            remove_script_host : false,
            hidden_input: false,
            link_title: false,
            link_assume_external_targets: 'http',
            image_caption: false,
            image_advtab: false,
            iimage_description: false,
            image_dimensions: false,
            image_title: false,
            images_upload_url : '/tinymce_assets',
            images_reuse_filename: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
              var $input = $('#js-tinymce-file-input');

              /*
                Note: In modern browsers input[type="file"] is functional without
                even adding it to the DOM, but that might not be the case in some older
                or quirky browsers like IE, so you might want to add it to the DOM
                just in case, and visually hide it. And do not forget do remove it
                once you do not need it anymore.
              */
              $input.on('change', function (e) {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onload = function () {
                  /*
                    Note: Now we need to register the blob in TinyMCEs image blob
                    registry. In the next release this part hopefully won't be
                    necessary, as we are looking to handle it internally.
                  */
                  var id = 'blobid' + (new Date()).getTime();
                  var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                  var base64 = reader.result.split(',')[1];
                  var blobInfo = blobCache.create(id, file, base64);
                  blobCache.add(blobInfo);

                  /* call the callback and populate the Title field with the file name */
                  console.log(e.target.result);
                  console.log(file.name);
                  cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
              });

              $input.trigger('click');
            }
          }
          var toolbar = $elm.data('toolbar');
          if(toolbar) {
            params.toolbar = toolbar;
          }
          var content_css = $elm.data('content-css');
          if(content_css) {
            params.content_css = content_css;
          }
          TinyMCERails.initialize('default', params);
        });
      });

    = yield :script if content_for?(:script)
